<%= form_with model: [ @Article, @Article.comments.build ], class:"card w-50 p-3 m-3 shadow" do |form| %>
  <%= form.hidden_field :article_id, value: @Article.id %>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body, class:"form-control" %>
  </p>
  <p>
    <%= form.submit "Create", class:"btn btn-primary" %>
  </p>
<% end %>
